
body{
        background-image: url(aaa.jpg);
        color: #ffffff;
        width: 1400px;
        margin: 0 auto;
        text-align: center;
}
.one{
    display: inline-block;
    background-color:#7f7f7f;
    width: 266px;
    height: 460px;
    margin: 19px;
   
   
}
.one img{
    width: 230px;
    height: 250px;
    
}
.two{
    display: inline-block;
    background-color:#7f7f7f;
    width: 266px;
    height: 460px;
    margin: 19px;
    
}
.two img{
    width: 230px;
    height: 250px;     
}
.three{
    display: inline-block;
    background-color:#7f7f7f;
    width: 266px;
    height: 460px;
    margin: 19px;
   
    
}
.three img{
    width: 230px;
    height: 250px;   
}
p {
        color: ;
        margin: 10px 40px;
        font-weight: 100;
        font-size:20px;
        font-family: 'Roboto Slab', serif;  
    }
    
    p:hover {
        color: #04B404;
        cursor: pointer;
    }
a{
    color:#fff;
}
a:hover{
    color: #04B404;
        cursor: pointer;
}
h2:hover{
    color: #04B404;
        cursor: pointer;
}
div{
    transform:scale(1, 0,5);
    border-radius: 8px;
}
nav{
    font-size:20px;
    font-family: 'Roboto Slab', serif;
}
 h1,h2,h3,p {
        
        font-family: 'Roboto Slab', serif;
    }
